/* ==UserStyle==
@name         Green message instagram
@namespace    github.com/Skalefou/green-message-instagram
@description  Turns your sent Instagram messages green with white text.
@author       Skalefou (https://github.com/Skalefou)
@homepageURL  https://github.com/Skalefou/green-message-instagram
@supportURL   https://github.com/Skalefou/green-message-instagram/issues
@version      1.0.0
@license      MIT
==/UserStyle== */

@-moz-document domain("instagram.com") {
div[role="presentation"].xdj266r:has(.xyk4ms5) {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
}

div.html-div.xexx8yu.xyri2b.x18d9i69.x1c1uobl.x1gslohp.x14z9mp.x12nagc.x1lziwak.x1yc453h.x126k92a.xyk4ms5 {
    background-color: #008000;
    color: #ffffff;
    border-radius: 12px;
    padding: 8px 12px;
    border: none;
    box-shadow: none;
    font-family: inherit;
}

}
